
/* removes underline from all links when not clicked or hovered */

a:link {
    text-decoration: none;
    color: white;
  }

a:visited {
    text-decoration: none;
    color: white;
  }

a:hover {
    text-decoration: underline;
  }

a:active {
    text-decoration: underline;
  }

  body {
    margin: 0 auto;
    font-family: roboto;
  }

.mainContainer {
    margin: 0 auto ;
  }

header, .mainTitle {
background-color: #1f2937;
}

/* specific fonts (Roboto) from google fonts*/

@font-face {
  font-family: roboto;
  src: url(assets/Roboto-Regular.ttf);
}
@font-face {
  font-family: roboto-light;
  src: url(assets/Roboto-Light.ttf);
}

/* this section is for the nav bar */

header {
  display: flex;
  font-size: 18px;
  background-color: #1f2937;
  color: white;
  align-items: center;
  justify-content:space-around;
  min-width: 800px;
}
.navlinks {
  display: flex;
  padding: 5px;
  gap: 20px;
  padding: 10px;
}

/* this section is for the hero and image */

.mainTitle {
  display: flex; 
  align-items: center;
  justify-content: space-around;
  min-width: 580px;
  padding-bottom: 100px;
  padding-top: 100px;
  min-width: 800px;
}

.leftHalf {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
  flex-shrink:initial;
}

img {
 max-height: fit-content;
 width: auto;
}

p1 {
  color: white;
  font-size: 48px;
  font-weight: bolder;
}

p2 {
  color: #f9faf8;
  font-size: 18px;
  max-width: 500px;
}

/* button customization*/

button {
  font-weight: bolder;
  font-size: 20px;
  color: #f9faf8;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  background-color: #3882f6;
  border: none;
  cursor: pointer;
}

button:hover{
  background-color: #1753b4;
}
button:active {
  transform: translateY(2px)
}

/* middle page content and 4 illustrations boxes and text */

.randomInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bolder;
  padding: 20px
}

.illustrations {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 25%;
  margin-right: 25%;
  gap: 10px;
}

.ill1, .ill2, .ill3, .ill4 {
  display: flex;
  flex-direction: column;
  width:200px;
  height:200px;
  background:white;
  border-radius: 15px;
  align-items: center;
}

.box1, .box2, .box3, .box4 {
  width:150px;
  height:200px;
  border: 3px solid;
  border-color: #3882f6;
  border-radius: 10px;
}

/* the lower quote section */

.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  padding: 50px;
  align-items: center;
  justify-content: center;
  min-width: 800px;
}
p3 {
  font-family: roboto-light;
  font-style: italic;
  font-size: 36px ;
  color: #1f2937;
  max-width: 800px;
}

p4 {
  font-size: 20px;
  font-weight: bold;
  max-width: 800px;
  margin-left: auto;
  margin-right: 25%;
}

/* bottom blue sign up */

.bottomSignUp {
display: flex;
justify-content: center;
margin-top: 100px;
margin-bottom: 100px;
min-width: 800px;
}

.blueRec {
  display: flex;
  background-color:#3882f6;
  width: 800px;
  height: 100px;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.bottombluetext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

p5 {
  font-size: 20px;
  font-weight: bold;
}

.whiteborderbutton {
  border-color: white;
  border: 2px solid white;
  align-self: center;
  margin-left: 20px;
}

/* this section is for the footer */

footer {
  display: flex;
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #1f2937;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-width: 800px;
}